CLIENT_ID_SPotify = ""
CLIENT_SECRET_SPotify = ""

CLIENT_ID_TWITCH = ""
CLIENT_SECRET_TWITCH = ""
# OPTIONNAL: If you want to use a different client/secret ID for the bot, you can set it here. Otherwise, it will default to the main Twitch client ID.
CLIENT_ID_TWITCH_BOT = ""  
CLIENT_SECRET_TWITCH_BOT = ""